.container-1{
    height: 600px ;
    background-image: [url]("discount.image");
}
.maintitle{
    margin: 0 auto;
    
    width: 40%;
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.main{
    width: 40%;
    margin: 0 auto;
}
.spacer35{
    height: 35px;
}
.mainText{
    color: gray;
    font-size: 1rem;
}
.spacer55{
    height: 55px;
    border-bottom: 1px rgba(128, 128, 128, 0.5
    ) solid;
}
.spacer65{
    
    height: 65px;
}
.spacer125{
    height: 125px;
}



