.bottom-row{
border-top:1px white;
    color: white;
    
    border-top: 1px solid white;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul{
    list-style: none;
}
