.navbar{
    height: 120px;
}
.header-left{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
// .container-fluid{
//     height: 50px;
//     width: 50px;
// }