<div class="container-fluid mt-3 mb-3">
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3">
            <button class="nav-link" type="button" [routerLink]="[ 'discount' ]" routerLinkActive="active">Discount</button>
            <button class="nav-link" type="button" [routerLink]="[ 'category' ]" routerLinkActive="active">Category</button>
            <button class="nav-link" type="button" [routerLink]="[ 'product' ]" routerLinkActive="active">Product</button>
            <button class="nav-link" type="button" [routerLink]="[ 'order' ]" routerLinkActive="active">Order</button>
        </div>
        <div class="tab-content" style= 'width: 100%;'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
