<div class="cabinet-section">
  <div class="spacer40"></div>
  <div class="title-main">
    <h1 class="title-main1">мій аккаунт</h1>
  </div>
  <div class="category-menu">
    <div class="wrapper-menu">

      <ul class="category-list">
        <li class="category-list-item">
          <a [routerLink]="[ '/login']" class="item" href="">особисті дані</a>
        </li>
        <li class="category-list-item">
          <a class="item" [routerLink]="[ '/order-history']">Історія замовлень</a>
        </li>
        <li class="category-list-item">
          <a class="item" [routerLink]="[ '/points'  ]">Нараховані бали</a>

        </li>

      </ul>
    </div>
  </div>
  <div class="points-description">
    <div class="points-title">ЗАГАЛОМ БОНУСІВ +0</div>
    <div>

        <ul class="bonusese-list">
            <li>
                Бонуси нараховуються автоматично після закриття замовлення
            </li>
            <li>
                у розмірі<strong>3% від суми на тип замовлення доставка кур’єром</strong> 
            </li>
            <li>
                <strong>(1% від суми на тип замовлення самовивіз)</strong>
            </li>
            <li>
                Розрахунок бонусами можливий наступним чином
            </li>
            <li>
                Замовлення на   <strong>Доставку</strong> – не більше <strong>30%</strong> від суми замовлення
            </li>
            <li>
                Замовлення на <strong>Самовивіз</strong> – не більше <strong>15%</strong> від суми замовлення
            </li>
            <li>
                Бонуси мають свій термін дії –<strong>6</strong> місяців(<strong>180</strong> днів) з дня зарахування, після чого згорають.
            </li>
            <li>
                <strong>Важливо:</strong> Номер при <strong>реєстрації</strong> і в <strong>Особистому кабінеті</strong> мають співпадати(<strong>заборонено змінювати</strong>)
            </li>
        </ul>
    </div>
  </div>
  <div class="spacer50"></div>





