<form [formGroup]="productForm" (ngSubmit)="editStatus ? updateProduct() : createProduct()">
    <div class="mb-3">
        <select formControlName="category" class="form-select">
            <option selected disabled>Select category</option>
            <option [ngValue]="cat" *ngFor="let cat of adminCategories" >{{cat.name}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input formControlName="name" type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
        <label for="path" class="form-label">Path</label>
        <input formControlName="path" type="text" class="form-control" id="path">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea formControlName="description" id="description" cols="30" rows="3" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label for="weight" class="form-label">Weight</label>
        <input formControlName="weight" type="text" class="form-control" id="weight">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input formControlName="price" type="number" class="form-control" id="price">
    </div>
    <div class="mb-3" *ngIf="!imageStatus">
        <label for="formFile" class="form-label">Default file input example</label>
        <input (change)="uploadFile($event)" class="form-control" type="file" id="formFile">
    </div>
    <div class="progress mb-3" *ngIf="!imageStatus">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
            [style.width]="(uploadPercent | async) + '%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="image-box" *ngIf="imageStatus">
        <img width="100px" [src]="image" alt="">
        <button (click)="deleteFile()" type="button" class="btn btn-danger">Delete</button>
    </div>
    <button [disabled]="productForm.invalid" type="submit" class="btn btn-primary"
        [textContent]="editStatus ? 'Save' : 'Add'"></button>
</form>
<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Path</th>
            <th scope="col">Description</th>
            <th scope="col">Weight</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="align-middle" *ngFor="let prod of adminProducts; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ prod.category.name }}</td>
            <td>{{ prod.name }}</td>
            <td>{{ prod.path }}</td>
            <td>{{ prod.description | slice:0:30 }}...</td>
            <td>{{ prod.weight }}</td>
            <td>
                <img [src]="prod.image" width="80px" alt="">
            </td>
            <td>{{ prod.price }}</td>
            <td>
                <button (click)="editProduct(prod)" class="btn btn-warning me-3">edit</button>
                <button (click)="deleteProduct(prod)" class="btn btn-danger">delete</button>
            </td>
        </tr>
    </tbody>
</table>