.container{
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
//     background-color: gray;
//     background-image: url(/src/assets/images/bigIMAGE1.jpg);
}
.title{
    background-image: url('/src/assets/images/bigIMAGE1.jpg');
}
.delivery-info{
    margin-top: 20px;
}