<main>

  <div class="container ">

    <div class="title">
      <h4>ДОСТАВКА №1 У ЛЬВОВІ</h4>
      <h1>ДОСТАВКА ТА ОПЛАТА</h1>
    </div>
  </div>
  <div class="delivery-info m3">
    <div>
      <span>ДОСТАВКА БУРГЕРІВ №1 У ЛЬВОВІ</span>
    </div>
    <div class="zone-info">
      <div class="text-zone-info">
        <div></div>
        <div>
          <h5 class="title-info">ЗЕЛЕНА ЗОНА</h5>
          <p class="main-info">
            Безкоштовна доставка від 299грн
            Вартість доставки менше 299грн – 49грн
            Мінімальне замовлення – 199грн
          </p>
        </div>
        <div>
          <h5 class="title-info">ЖОВТА ЗОНА</h5>
          <p class="main-info">
            Безкоштовна доставка від 399грн
            Вартість доставки менше 399грн – 49грн
            Мінімальне замовлення – 299грн
          </p>
        </div>
        <div>
          <h5 class="title-info">ЧЕРВОНА ЗОНА</h5>
          <p class="main-info">
            Безкоштовна доставка від 599грн
            Вартість доставки менше 599грн – 49грн
            Мінімальне замовлення – 499грн
          </p>
        </div>
      </div>
      <div class="map-zone-info"></div>
    </div>
  </div>
</main>
