@font-face {
    font-family: "formular-medium";
    src: url('/src/assets/fonts/Formular/Formular-Medium.eot');
}
@font-face {
    font-family: "formular-italic";
    src: url('/src/assets/fonts/Formular/Formular-Italic.eot');
}